/* INSTRUCTIONS
 *
 * 1) Keep the text inside .intro-content
 *    in the same place, but have the background
 *    extend from one side of the viewport
 *    to the other, no matter how wide or narrow
 *    the browser is.
 *
 * 2) Limit the maximum width of the text in the
 *    bottom area.
 *
 * You may modify the HTML if needed
 * (you probably should for this challenge)
 *
 * SOLUTION
 * 
 * Changes in HTML
 * 1) Created an `intro` class around our container, which we can add the background color to.
 * 2) Added a container around the additional content
 * 
 * Changes in CSS
 * 1) Moved content from `.container` to `.intro` as appropriate, and add padding top/bottom to `.intro`.
 *
 *
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  width: 80%;
  max-width: 750px;
  margin: 0 auto;
}

.intro {
  background-color: #23424a;
  color: white;
  padding: 50px 0;
}
.intro-content {
  width: 50%;
}
